<!-- <pre> Con esta etiqueta muestra los datos con espacios y salto  de lineas
    {{ productosIntf | json }}
</pre> -->
<section class="productos">
    <!-- Directiva **ngFor que cambia elementos del DOM -->
    <mat-card class="card" *ngFor="let prod of productosIntf"> <!-- Para usar esta etiqueta se debe importar a material.module.ts y en productos.module.ts-->
        <mat-card-header> {{ prod.name}} </mat-card-header>
        <mat-card-content> {{ prod.description }} </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button color="primary">
                Comprar
            </button>
        </mat-card-actions>
    </mat-card>
</section>